.wrapper {
    display: flex;
    justify-content: space-between;
}

.poppins {
    font-family: 'Poppins', sans;
    font-weight: 400;
}


.poppins-400-14 {
    font-family: 'Poppins', sans;
    font-weight: 400;
    font-size: 14px;
}

.playfair-400-110 {
    font-family: 'Playfair Display', sans;
    font-weight: 400;
    font-size: 110px;
}

.poppins-500-18 {
    font-family: 'Poppins', sans;
    font-weight: 500;
    font-size: 18px;
}

.header-images {
    background-image: url(/images/geometry1.svg);
}

.header-images-left {
    background: url(/images/image_dots.svg) no-repeat bottom right;
}

.rotation {
    transform: rotate(-90deg);
}

.bg1left-image {
    background: url(/images/image_dots.svg) right bottom no-repeat;
}

.height {
    height: 100vh;
}